body {
    background-color:white;
    font-family: 'DM Sans', sans-serif;
    
}

.container {
    display: flex;
    height:100%;
    width:100%;
    align-items:center;
    justify-content: center;
    gap:20px
}

.container_1 {
    background-color:#FCE2C9;
    height:280px;
    width:400px;
    border-radius: 40px;
}

.container_2 {
    background-color:#E9E7FD;
    height:280px;
    width:400px;
    border-radius:40px;
}
.container_3 {
    background-color:#DBF6FD;
    height:280px;
    width:400px;
    border-radius:40px;
}

.container-content-1 {
   display: flex;
   align-items: center;
   margin:15px;
   gap: 220px;
}

.container-content-2 {
    display: flex;
    justify-content: center;
    margin-bottom:10px;
}

.container-content-3 {
    margin-left:20px;
}

.container-content-4 {
    display: flex;
    justify-content:right;
    padding-right:20px
}

.container-content-item {
    background-color:white;
    height:7px;
    width:360px;
    margin:10px auto;
    border-radius:10px;
}

.container-content-item-1 {
    background-color:orange;
    height: 7px;
    width:220px;
    border-radius:10px;
    top:0px;
    left:20px;
    
}

.container-content-item-2 {
    background-color:blue;
    height: 7px;
    width:200px;
    border-radius:10px;
    top:0px;
    left:20px;
    
}

.container-content-item-3 {
    background-color:green;
    height: 7px;
    width:300px;
    border-radius:10px;
    top:0px;
    left:20px;
    
}

.container-content-item-layout {
    background-color:white;
    height:1px;
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.image_item {
    height:30px;
    width:30px;
    border-radius:20px;
    margin:20px;
}

.image_item_1 {
   margin-left:-35px;
}

.content_1 {
    background-color: white;
    color: orange;
    width:fit-content;
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-left:-10px
}

.content_2 {
    background-color:white;
    color: orange;
    width: fit-content;
    padding:5px 15px;
    border-radius: 20px;
    margin-left:150px
}

.content_3 {
    background-color: white;
    color:blue;
    width:fit-content;
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-left:-10px
}

.content_4 {
    background-color:white;
    color: blue;
    width: fit-content;
    padding:5px 15px;
    border-radius: 20px;
    margin-left:150px
}

.content_5 {
    background-color: white;
    color:green;
    width:fit-content;
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-left:-10px
}

.content_6 {
    background-color:white;
    color:green;
    width: fit-content;
    padding:5px 15px;
    border-radius: 20px;
    margin-left:150px
}

.center {
    display: flex;
    align-items: center;
    
}
